<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>使用RestFul</title>
        <!-- link标签用来引入css代码 -->
        <link rel="stylesheet" type="text/css" href="static/css/total.css" />
    </head>
    <body>
        <iframe name="target" width="40%" height="100%" class="cls1"></iframe>
        <a th:href="@{/}">返回首页</a>
        <h1>使用RestFul</h1>
        <a th:href="@{/restFul/users}" th:target="target">查询所有用户</a>

    </body>
</html>