<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>index</title>
    </head>
    <body>
        <h1>首页</h1>
        <p>这个不是默认启动访问的index.html，而是根据 / ，找到对应RequestMapping对应方法返回值A1Index，进行前后缀拼接后，访问的webapp/WEB-INF/templates/A1Index.html的页面。</p>
        <!--
            th:href=@{/target} = href="http://localhost:ip/上下文路径/"，如果不这么写的话，就是http://localhost:ip/springmvc/。
         -->
        <a th:href="@{/a2RequestMapping}">1、访问测试"RequestMapping注解"页面</a><br/>
        <a th:href="@{/a3ParamGet}">2、访问测试"获取http请求参数"页面</a><br/>
        <a th:href="@{/a4ScopeData}">3、访问测试"域对象共享数据"页面</a><br/>
        <a th:href="@{/a5ForwardAndRedirect}">4、访问测试"转发和重定向"页面</a><br/>
        <a th:href="@{/a6RestFulShow}">5、访问测试"RestFul案例"页面</a><br/>
        <a th:href="@{/a7HttpReqAndResp}">6、测试@RequestBody、RequestEntity、@ResponseBody、ResponseEntity</a><br/>
        <a th:href="@{/a8FileUpAndDown}">7、文件上下载</a><br/>
        <a th:href="@{/a9Interceptor}">8、拦截器测试</a><br/>
    </body>
</html>