<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>RequestMapping</title>
    </head>
    <body>
        <h1>测试RequestMapping的用法</h1>
        <div>
            <h2>测试@value属性，可以进行多种访问路径的访问</h2>
            <a th:href="@{/reqMapping/aba}">通过"/a?a"访问(?代表任意单个字符)</a><br/>
            <a th:href="@{/reqMapping/ab}">通过"/ab"访问"/a*b"(*代表0个或多个任意字符)</a><br/>
            <a th:href="@{/reqMapping/a/b}">通过"/a/b"访问"/a/**"，匹配任意路径</a><br/>
        </div>

        <hr/>
        <div>
            <h2>测试@method属性，符合访问类型才能访问，浏览器会将不属于post的请求类型，视为get请求</h2>
            <a th:href="@{/reqMapping/methodTest}">get访问</a><br/>
            <form th:action="@{/reqMapping/methodTest}" method="post">
                <input type="submit" th:value="post访问">
            </form>
            <form th:action="@{/reqMapping/methodTest}" method="delete">
                <input type="submit" th:value="delete访问">
            </form>
            <form th:action="@{/reqMapping/methodTest}" method="put">
                <input type="submit" th:value="put访问">
            </form>
        </div>

        <hr/>
        <div>
            <h2>测试@param属性，必须所有的参数符合，才能匹配</h2>
            <p>params = {"param1", "!param2", "param3=c", "param4!=d"}，必须有param1、必须有param3 = c、必须没有param2、必须有param4且 != d</p>
            <form th:action="@{/reqMapping/paramsTest}" method="post">
                <table>
                    <tr>
                        <td>param1：</td>
                        <td>
                            <input type="radio" name="param1" value="a"/>a
                            <input type="radio" name="param1" value="b"/>b
                        </td>
                    </tr>
                    <tr>
                        <td>param2：</td>
                        <td>
                            <input type="radio" name="param2" value="a"/>a
                            <input type="radio" name="param2" value="b"/>b
                        </td>
                    </tr>
                    <tr>
                        <td>param3：</td>
                        <td>
                            <input type="radio" name="param3" value="c"/>c
                            <input type="radio" name="param3" value="d"/>d
                        </td>
                    </tr>
                    <tr>
                        <td>param4：</td>
                        <td>
                            <input type="radio" name="param4" value="c"/>c
                            <input type="radio" name="param4" value="d"/>d
                        </td>
                    </tr>
                </table>
                <input type="submit">
            </form>
        </div>
        <hr/>

        <div>
            <h2>测试@RequestMapping修饰方法返回null或返回值为void</h2>
            <a th:href="@{/reqMapping/voidRet}">提交</a>
        </div>

    </body>
</html>








