<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>域对象共享数据</title>
    </head>
    <body>
        <a th:href="@{/scopeData/servletApi}">使用servletApi向request中设置k-v</a><br/>
        <a th:href="@{/scopeData/mav}">使用ModelAndView设置k-v</a><br/>
        <a th:href="@{/scopeData/model}">使用Model设置k-v</a><br/>
        <a th:href="@{/scopeData/map}">使用Map设置k-v</a><br/>
        <a th:href="@{/scopeData/modelMap}">使用modelMap设置k-v</a><br/>
        <hr/>

        <a th:href="@{/scopeData/session}">使用session设置k-v</a><br/>
        <a th:href="@{/scopeData/application}">使用ServletConfig设置k-v</a><br/>
    </body>
</html>