<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>使用RestFul</title>
        <style type="text/css">
            .cls1 {
                border: 3px solid #ff0000;
                margin: 10px;
                float: left;
                width: 40%;
            }

            .cls2 {
                float: right;
            }
        </style>
    </head>
    <body>
        <iframe name="target" width="40%" height="100%" class="cls1, cls2"></iframe>
        <h1>使用RestFul</h1>
        <a th:href="@{/restFul/users}" th:target="target">查询所有用户</a>

    </body>
</html>