<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>获取请求参数测试</title>
        <!-- link标签用来引入css代码 -->
        <link rel="stylesheet" type="text/css" href="static/css/total.css" />
    </head>
    <body>
        <iframe id="showIFrame" name="target" width="40%" height="100%" class="cls1"></iframe>
        <a th:href="@{/}">返回首页</a>

        <h1>所有获取req信息、param信息的方式</h1>
        <form th:action="@{/paramGet/getAllType}" method="post" target="target">
            username：<input type="text" name="username" value="张三"><br/>
            password：<input type="text" name="password" value="123456"><br/>
            hobby：
            <input type="checkbox" name="hobby" value="chess"/>下棋
            <input type="checkbox" name="hobby" value="swim"/>游泳
            <input type="submit">
        </form>
    </body>
</html>